

<div ng-hide="analog">
<h1>{{hours}}:{{minutes}}</h1>
</div>

<div ng-show="analog">
  <div id="vis" class="vis">
  	<div class="set-height" />
  		<div class="clock" >
  			<img src="img/clockFace.png" class="clock-image"/>
  			<img src="img/minuteShadow.png" class="clock-image-shadow" ng-style="turn('minute')" />
  			<img src="img/minuteHand.png" class="clock-image" ng-style="turn('minute')" />
  			<img src="img/hourShadow.png" class="clock-image-shadow" ng-style="turn('hour')" />
        <img src="img/hourHand.png" class="clock-image" ng-style="turn('hour')" />
  			<img src="img/axis.png" class="clock-image" />
  		</div>
  	</div>
  </div>
</div>

<h2>Change the game</h2>
<form name="setup" class="form-horizontal">
  <div class="control-group">
    <div class="controls">
      <label for="start-hour">Start hour:</label>
      <input
        name="start-hour"
        type="number"
        min="0"
        max="{{max-1}}"
        ng-model="gameSetup.hours"
      >
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
      <label for="start-minute">Start minute:</label>
      <!-- bracket allowed values (0-55) so we can carry to hours -->
      <input
        name="start-minutes"
        type="number"
        min="-5"
        max="60"
        step="5"
        ng-model="gameSetup.minutes"
      >
  </div>
  </div>
  <div class="control-group">
    <div class="controls">
      <label class="checkbox">
        <input type="checkbox" ng-model="analog"> Analog?
      </label>
      <button type="submit" class="btn" ngClick="setup()">Restart</button>
    </div>
  </div>
</form>
